body {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: lightgray;
}
#magazine{
  width:950px;
  height:97vh;  
}
#magazine .turn-page{
  background-color:#ccc;
  background-size:100% 100%;
}