* { box-sizing: border-box }
html, body { height: 100% }
body {
  font-family: "Segoe UI", system-ui, -apple-system, "Helvetica Neue", Arial;
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}
